 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     height: 1000px;
     background-color: rgba(220, 226, 239, 0.856);
 }

 header {
     position: sticky;
     top: 0;
     z-index: 1000;
     justify-content: space-between;
     align-items: flex-start;
     background: linear-gradient(90deg, #3b67a4, #457b9d);
     color: white;
     padding: 10px 60px;
     border-bottom: 4px solid rgba(0, 132, 255, 0.584);
     margin-top: 0.8px;
     border-top: 4px solid rgba(0, 132, 255, 0.584);



 }

 nav {
     float: right;
     margin-top: -25px;
     margin-right: -30px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
 }

 nav a {
     text-decoration: none;
     color: aliceblue;
     margin-left: 25px;
     font-weight: bold;
     font-size: middle;

 }

 nav a:hover {
     color: rgb(253, 147, 60);
 }

 h1 {
     color: white;
     font-family: Georgia, 'Times New Roman';
 }

 .main {

     background: linear-gradient(rgba(0, 0, 0, .5),
             rgba(0, 0, 0, .5)),
         url("https://i.pinimg.com/1200x/38/7b/78/387b78e83fc199a857c581a5ac53506d.jpg");
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
     background-size: cover;
     height: 400px;
     font-size: x-large;
     font-family: monospace;
 }

 .mainhead {
     font-family: monospace;
 }

 .container {
     width: 80%;
     margin: 40px auto;
 }

 .card {

     display: inline-block;
     width: 280px;
     background: linear-gradient(90deg, #3b67a4, #457b9d);
     text-align: center;
     color: white;
     border: 2px solid black;
     border: 2px solid rgb(60, 50, 203);
     margin: 62px;
     padding: 15px;
     font-weight: bold;
     position: relative;
     box-shadow: #adadad;

 }

 .card p {
     text-align: left;
     font-weight: normal;
 }



 footer {

     background: #1d3557;
     color: white;
     text-align: center;

     padding: 20px;

 }