h1 {
    text-align: center;
}

#slider {
    width: 680px;
    height: 400px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    left: 250px;
    top: 2px;
}

#buttons {
    position: relative;
    left: 570px;
    top: 1px;
}